.article {
  max-inline-size: var(--size-container);
  margin-inline: auto;
  padding: var(--space-6);
  padding-left: calc(6.33rem + var(--space-6));
  position: relative;
  max-inline-size: 76rem;
  display: flex;
  justify-content: space-between;
}

.article__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  flex: 0 1 41.005625rem;
  min-inline-size: 0;
}

.article__info {
  display: flex;
  gap: var(--space-4);
  align-items: center;
}

.aside {
  font-size: var(--font-size-sm);
  block-size: max-content;
  position: sticky;
  top: var(--space-6);
  color: var(--color-gray-450);
  display: flex;
  flex-direction: column;
  flex: 0 0 max-content;
}

.aside__link:hover {
  color: var(--color-gray-300);
}

.aside__title {
  color: var(--color-gray-300);
}

.aside__item {
  padding-block: var(--space-3);
  padding-inline-start: var(--space-4);
  padding-inline-end: var(--space-2);
}

.aside__item {
  border-left: var(--border-width-2) solid hsl(217.85 11.94% 64.27%);
}

.aside__item--active {
  background-color: color-mix(in hsl, var(--color-gray-700) 40%, transparent);
  border-color: var(--color-terra-700);
}

.article__nav {
  gap: var(--space-6);
  display: flex;
  justify-content: space-between;
}

.article__contributing {
  gap: var(--space-4);
  display: flex;
  padding-bottom: var(--space-6);
  border-bottom: var(--border-width-1) solid var(--color-gray-800);
}

.article__contributing a {
  color: var(--color-gray-450);
  font-size: var(--font-size-sm);
  text-decoration: underline;
  text-transform: capitalize;
}

.article__contributing a:last-of-type {
  margin-left: auto;
}

.article__contributing a:hover {
  color: var(--color-gray-300);
  text-decoration: none;
}

@media (max-width: 75rem) {
  .aside {
    display: none;
  }

  .article {
    padding-inline-start: var(--space-6);
  }

  .article__content {
    flex-grow: 1;
    text-align: start;
  }
}

@media (max-width: 780px) {
  .article__nav {
    padding: var(--space-6);
    display: flex;
    flex-direction: column;
  }
}