.ul--enumerable {
  list-style-type: disc;
}

.ol--enumerable {
  list-style-type: decimal;
}

li::marker {
  color: var(--color-gray-600);
}

.ul--enumerable,
.ol--enumerable {
  padding-left: var(--space-6);
}

.ul--enumerable li,
.ol--enumerable li {
  padding-inline-start: var(--space-2);
}
