<div class="internal-error">
  <div class="internal-error__content">
    <h1 class="internal-error__title"><strong>500</strong>
      Oooops, something wrong!</h1>
    <p class="internal-error__description">{{data}}</p>
  </div>
</div>