<div class="lesson">

  <article class="markdown">
    {{{data.rawHtml}}}
  </article>

  <aside class="aside">
    <h4 class="aside__title">Lesson contents</h4>
    <ul>
      {{#each data.h3Ids}}
        <li class="aside__item">
          <a class="aside__link" href="#{{id}}">{{text}}</a>
        </li>
      {{/each}}
    </ul>
  </aside>
</div>