.nav {
  min-block-size: 62px;
  border-bottom: var(--border-width-1) solid var(--color-gray-800);
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem var(--space-5);
  max-inline-size: var(--size-container);
  margin-inline: auto;
}

.nav__inline-menu {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  font-size: var(--font-size-sm);
}

.nav__logo {
  font-size: var(--font-size-lg);
  font-weight: 600;
  letter-spacing: -0.03125px;
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.nav__logo strong {
  font-weight: 800;
  color: #007acc;
  /* как у VS Code / MSDN */
}

.nav__logo .dot {
  color: #e95420;
  /* тёплая точка — как визуальный акцент */
  margin-left: 0.125rem;
  margin-right: 0.0053125rem;
  font-weight: bold;
}

.nav__link {
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  margin-inline: var(--space-2);
}

.nav__link:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(var(--space-1));
  inline-size: 120%;
  block-size: 0.125rem;
  background-color: currentColor;
  transition:
    opacity var(--transition-base),
    transform var(--transition-base);
}

.nav__user-panel *:hover {
  cursor: pointer;
}

.nav__user-panel {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.nav__avatar {
  inline-size: var(--size-avatar);
  block-size: var(--size-avatar);
  border-radius: 100%;
  margin-left: var(--space-2);
}

.nav__toggle-btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-1);
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.nav__toggle-btn:hover {
  background-color: var(--color-gray-500);
}

.nav__toggle-line {
  width: 1.5rem;
  height: 0.175rem;
  background-color: var(--color-gray-300);
  border-radius: calc(var(--radius-sm) / 2);
  transition: background-color 0.2s ease-in-out;
}

.nav__overlay {
  --blur-index: 9999;
  z-index: var(--blur-index);
  position: fixed;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.5rem);
  display: flex;
}

.nav__sidebar {
  position: relative;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  flex: 0 1 20rem;
  z-index: calc(var(--blur-index) + 1);
  background-color: var(--color-gray-800);
}

.nav__sidebar-link {
  font-size: var(--font-size-base);
  font-weight: 500;
  align-items: center;
  display: flex;
  text-transform: capitalize;
  padding: var(--space-2);
}

.nav__sidebar-link:hover {
  background-color: color-mix(in hsl, var(--color-gray-700) 40%, transparent);
}

.nav__sidebar-logo {
  margin-bottom: var(--space-2);
  padding-inline: var(--space-2);
}

.nav__sidebar-separator {
  margin-block: var(--space-4);
  margin-inline: calc(var(--space-2) * -1);
  border-color: var(--color-gray-500);
}

.nav__sidebar-close {
  position: absolute;
  left: 100%;
  transform: translateX(50%) translateY(25%);
  align-items: center;
  display: flex;
  font-size: 1.75rem;
  color: var(--color-gray-300);
  background: transparent;
  cursor: pointer;
  padding: 0.25rem;
  transition: color 0.2s ease;
}

.nav__sidebar-close:hover {
  color: var(--color-gray-500);
}

.support {
  background-color: color-mix(in hsl, var(--color-gray-800) 30%, transparent);
}

.support__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-inline-size: 36rem;
  margin-inline: auto;
  padding: calc(var(--space-5) * 4) calc(var(--space-5) * 2);
}

.support__description {
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}

.support__actions {
  display: flex;
  gap: var(--space-4);
  justify-content: center;
}

.footer__content {
  font-size: var(--font-size-sm);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: var(--space-6) var(--space-5) var(--space-5);
  max-inline-size: var(--size-container);
}

.footer__socials {
  flex: 0 1 24rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.footer__copyrating {
  font-size: var(--font-size-xs);
  padding-top: var(--space-6);
  border-top: var(--border-width-1) solid var(--color-gray-800);
}

.footer__nav {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--space-5) * 4);
}

.footer__socials-links {
  display: flex;
  gap: var(--space-4);
  align-items: center;
}

.footer__resources {
  gap: calc(var(--space-5) * 2);
  display: flex;
  justify-content: space-between;
}

.footer__block {
  flex: 0 0 11rem;
  display: flex;
  flex-direction: column;
}

.footer__link:hover {
  color: var(--color-gray-200);
}

@media (max-width: 81.25rem) {
  .footer__resources {
    inline-size: 100%;
    flex-wrap: wrap;
  }

  .footer__nav {
    gap: calc(var(--space-6) * 2);
  }
}
