<div class="lesson">

  <article class="markdown">
    {{{data}}}
  </article>

  <aside class="aside">
    <h4 class="aside__title">Lesson contents</h4>
    <ul>
      <li class="aside__item aside__item--active">
        <a class="aside__link" href="#">Introduction</a>
      </li>
      <li class="aside__item">
        <a class="aside__link" href="#">Lesson overview</a>
      </li>
      <li class="aside__item">
        <a class="aside__link" href="#">Assignment</a>
      </li>
      <li class="aside__item">
        <a class="aside__link" href="#">Knowledge check</a>
      </li>
      <li class="aside__item">
        <a class="aside__link" href="#">Additional resources</a>
      </li>
    </ul>
  </aside>
</div>