<div class="lesson">

  <article class="markdown">
    <h3><a href="">Important notice</a></h3>
    <p>Recently the
      <span>.env</span>
      team removed a large amount of content from their website. Several of
      those removed pages were linked to in this lesson. Until we find a
      replacement for that content we will be linking directly to the markdown
      files on their GitHub repository. The formatting may look a bit odd, but
      the content should still be just as good.</p>
    <div class="panel">
      <p>Recently the
        <span>.env</span>
        team removed a large amount of content from their website. Several of
        those removed pages were linked to in this lesson. Until we find a
        replacement for that content we will be linking directly to the markdown
        files on their GitHub repository. The formatting may look a bit odd, but
        the content should still be just as good.</p>

      <div class="note note--important">
        <h4><a href="">Important notice</a></h4>
        <p>Recently the
          <span class="span">.env</span>
          team removed a large amount of content from their website. Several of
          those removed pages were linked to in this lesson. Until we find a
          replacement for that content we will be linking directly to the
          markdown files on their
          <a class="a--resource">GitHub repository</a>. The formatting may look
          a bit odd, but the content should still be just as good.</p>
      </div>

      <ul class="ul--enumerable">
        <li>Recently the
          <span class="span">.env</span>
          team removed a large amount of content from their website. Several of
          may look a bit odd, but the content should still be just as good.</li>
        <li>Recently the
          <span class="span">.env</span>
          team removed a large amount of content from their website. Several
        </li>
        <li>
          Recently
          <ul class="ul--enumerable">
            <li>Recently the
              <span class="span">.env</span>
              team removed a large amount of content from their website. Several
              of may look a bit odd, but the content should still be just as
              good.</li>
            <li>Recently the
              <span class="span">.env</span>
              team removed a large amount of content from their website. Several
              of may look a bit odd, but the content should still be just as
              good.</li>
          </ul>
        </li>
        <li>
          Recently
          <ol class="ol--enumerable">
            <li>Recently the
              <span class="span">.env</span>
              team removed a large amount of content from their website. Several
            </li>
            <li>Recently the
              <span class="span">.env</span>
              team removed a large amount of content from their website. Several
            </li>
            <li>Recently the
              <span class="span">.env</span>
              team removed a large amount of content from their website. Several
            </li>
          </ol>
        </li>
        <div class="note note--warning">
          <h4><a href="">Important notice</a></h4>
          <p>Recently the
            <span class="span">.env</span>
            team removed a large amount of content from their website. Several
            of those removed pages were linked to in this lesson. Until we find
            a replacement for that content we will be linking directly to the
            markdown files on their
            <a class="a--resource" href="#dsad">GitHub repository</a>. The
            formatting may look a bit odd, but the content should still be just
            as good.</p>
        </div>
        <li>Recently the
          <span class="span">.env</span>
          team removed a large amount of content from their website. Several
        </li>
      </ul>

      <div class="note note--tip">
        <h4><a href="">Important notice</a></h4>
        <p>Recently the
          <span>.env</span>
          team removed a large amount of content from their website. Several of
          those removed pages were linked to in this lesson. Until we find a
          replacement for that content we will be linking directly to the
          markdown files on their
          <a class="a--resource" href="#dsad">GitHub repository</a>. The
          formatting may look a bit odd, but the content should still be just as
          good.</p>
      </div>

      <div class="note note--critical">
        <h4><a href="">Important notice</a></h4>
        <p>Recently the
          <span>.env</span>
          team removed a large amount of content from their website. Several of
          those removed pages were linked to in this lesson. Until we find a
          replacement for that content we will be linking directly to the
          markdown files on their GitHub repository. The formatting may look a
          bit odd, but the content should still be just as good.</p>
      </div>
    </div>

  </article>

  <aside class="aside">
    <h4 class="aside__title">Lesson contents</h4>
    <ul>
      <li class="aside__item aside__item--active">
        <a class="aside__link" href="#">Introduction</a></li>
      <li class="aside__item">
        <a class="aside__link" href="#">Lesson overview</a></li>
      <li class="aside__item">
        <a class="aside__link" href="#">Assignment</a></li>
      <li class="aside__item">
        <a class="aside__link" href="#">Knowledge check</a></li>
      <li class="aside__item">
        <a class="aside__link" href="#">Additional resources</a></li>
    </ul>
  </aside>
</div>